

@media (max-width:767px) {
    .testimonials-elem-7 {
        padding: 0px 0px 0px 0px;
        justify-content: space-between
    }

    .testimonials-elem-11 {
        display: none
    }

    .testimonials-elem-6 {
        padding: 32px 16px 32px 16px;
        flex-direction: row;
        align-items: center;
        display: none
    }

    .testimonials-elem-2 {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-3 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-4 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-5 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-22 {
        display: none
    }

    .testimonials-elem-21 {
        padding: 32px 16px 32px 16px;
        flex-direction: row;
        align-items: center;
        display: none
    }

    .testimonials-elem-17 {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-18 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-19 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-20 {
        justify-content: center;
        width: 100%;
        display: flex
    }

    .testimonials-elem-9 {
        display: block
    }

    .testimonials-elem-12 {
        margin-top: 120px;
        position: relative
    }

    .testimonials-elem-13 {
        justify-content: center;
        align-items: center
    }

    .testimonials-elem-14 {
        justify-content: center
    }

    .testimonials-elem-26 {
        justify-content: center
    }

    .testimonials-elem-25 {
        justify-content: center
    }

    .testimonials-elem-24 {
        justify-content: center
    }

    .testimonials-elem-23 {
        justify-content: center
    }

    .testimonials-elem-15 {
        justify-content: center
    }

    .testimonials-elem-16 {
        justify-content: center
    }
}