

@media (max-width:1439px) and (min-width:1280px) {
    .products-elem-12 {
        position: relative
    }

    @media {
        .bg-colour-primary {
            padding: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            text-align: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .bg-colour-primary {
            padding: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            text-align: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .bg-colour-primary {
            padding: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            text-align: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .font-family {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .font-family {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .font-family {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .font-family {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text:hover {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text:hover {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text:hover {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text:hover {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }

        .hover-link-text {
            overflow: ;
            flex-box: ;
            flex-direction: ;
            flex-wrap: ;
            justify-content: ;
            align-items: ;
            -moz-column-gap: ;
                 column-gap: ;
            row-gap: ;
            font-family: ;
            font-size-weight: ;
            font-size: ;
            font-weight: ;
            color: ;
            -ms-text-spacing: ;
                text-spacing: ;
            letter-spacing: ;
            line-height: ;
            padding: ;
            text-align: ;
            background: ;
            background-color: ;
            box-shadow: ;
            border: ;
            border-radius: ;
            border-width: ;
            border-style: ;
            border-color: ;
            effects: ;
            opacity: ;
            flex-box-child: ;
            order: ;
            flex-grow: ;
            flex-shrink: ;
            flex-basis: ;
            align-self:
        }
    }
}